{% extends 'base.html' %}

{% block content %}
    <h1>Generate Passwords</h1>
    <p>Enter your favourite words and numbers to generate a set of passwords.</p>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}<br>
        {% endfor %}
        <input type="submit" value="Generate Passwords">
    </form>

    {% if passwords %}
        <h2>Generated Passwords</h2>
        <p>Use the key below to recover these passwords later.</p>
        <p>Key: {{ key }}</p>
        <ul>
        {% for password in passwords %}
            <li>{{ password }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
