{% extends 'base.html' %}

{% block content %}
    <h1>Recover Passwords</h1>
    <p>Enter your original favourite words and numbers, along with the key provided when the passwords were generated, to recover your passwords.</p>

    <form method="post">
        {% csrf_token %}
        <label>Key:</label>
        <input type="text" name="key"><br>

        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}<br>
        {% endfor %}

        <input type="submit" value="Recover Passwords">
    </form>

    {% if recovered_passwords %}
        <h2>Recovered Passwords</h2>
        <ul>
        {% for password in recovered_passwords %}
            <li>{{ password }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
